#body {
  animation: breathing 1.5s linear infinite;
}

@keyframes breathing {
  0% {
    transform: translateY(-7px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-7px);
  }
}

#Head {
  animation: headbreath 1.5s linear infinite;
}

@keyframes headbreath {
  0% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(3px);
  }
}

#right-shoe {
  animation: left-shoe 5s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes left-shoe {
  0% {
    transform: rotatez(10deg);
  }

  50% {
    transform: rotatez(0);
  }

  100% {
    transform: rotatez(10deg);
  }
}

/* jquey */

/* Tablet view */
@media screen and (max-width: 1100px) {

  /* Close button */
  .close_circle {
    width: 1.8em;
    height: 1.8em;
  }

  .line-container {
    display: none;
  }


/* Phone view */
@media screen and (max-width: 600px) {

  /* Close button */
  .close_circle {
    width: 1.6em;
    height: 1.6em;
  }
