#body {
  animation: breathing 1.5s linear infinite;
}

@keyframes breathing {
  0% {
    transform: translateY(-7px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-7px);
  }
}

#Head {
  animation: headbreath 1.5s linear infinite;
}

@keyframes headbreath {
  0% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(3px);
  }
}

#right-shoe {
  animation: left-shoe 5s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes left-shoe {
  0% {
    transform: rotatez(10deg);
  }

  50% {
    transform: rotatez(0);
  }

  100% {
    transform: rotatez(10deg);
  }
}

/* jquey */
/* Tablet view */
@media screen and (max-width: 1100px) {
  main {
    padding: 0 3em;
  }

  p {
    font-size: 0.9em;
  }

/* Navbar */
  .menu-open-button {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    margin: 0.22em;
  }

  .lines {
    width: 0.59em;
    height: 1px;
  }
  .line-1 {transform: translateY(-0.22em);}

  .line-3 {transform: translateY(0.22em);}

  /* Sidenav */
  .story, .history, .credits, .feedback { font-size: 1.4em;}

  /* Close button */
  .closebtn {
    top: 0.7em;
    left: 0.7em;
    font-size: 0.9em;
  }

  .container-btn {
    width: 1.9em;
    height: 1.9em;
  }

  .container-btn:before {
    border: 0.9em solid grey;
  }

  .close_circle {
    width: 1.8em;
    height: 1.8em;
    border: 0.14em solid white;
  }

  .close_circle:after { font-size: 0.8em;}

  .container-btn:hover .close_circle { font-size: 1em;}

  .container-btn:active .close_circle { font-size: 0.4em;}

  .title {
    height: 63vh;
    margin-bottom: 7em;
  }

  .subtitle {
    height: 40vh;
    margin-bottom: 8em;
  }

  .title h1 {font-size: 3.3em;}
  .subtitle h1 { font-size: 3.5em;}

  .typewriter {
    border-right: .13em solid orange;
    letter-spacing: .15em;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 70%;
    }
  }

  .scroll-mention {top: 45%;}

  .first-chapter-title {
    height: 45vh;
    padding-top: 3em;
  }

  .first-chapter-title h2 {
    font-size: 1.8em;
  }

  .first-chapter-title p {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .first-chapter {
    padding: 1em 3em;
    grid-gap: 40px;
  }

  .text-1 {
    padding: 1.5em 1em;
  }

  .portrait-1 {
    width: 70%;
    padding: 0 1em;
  }

  .firstchap-p2 {
    padding: 1em 4em;
    grid-gap: 80px;
  }

  .soccer-3 {
    width: 80%;
    padding-left: 6em;
  }

  .soccer-5-bubbles {
    height: 45vh;
    margin: 5em;
  }

  .next-chapter a {font-size:1.9em;}

  .chap2 {
    height: 45vh;
    padding-top: 6em;
  }

  .chap2-part1 {
    grid-gap: 40px;
    padding-bottom: 2em;
  }

  .chap2-text1 {
    padding: 1.5em;
    padding-bottom: 30px
  }

  .radio {
    width: 55%;
    padding: 1.5em;
  }

  .chap2-text2 {
    padding: 1.2em;
    width: 55%;
  }

  .chap2-part2 {
    grid-gap: 45px;
    padding-bottom: 2em;
    height: 40vh;
  }

  .school {
    grid-column: 3/7;
    grid-row: 1/2;
    width: 100%;
    margin-top: 2em;
  }

  .school-text-1 {
    grid-column: 2/5;
    grid-row: 2/3;
    width: 60%;
    background: black;
    color: white;
    border-radius: 1%;
    padding: 1.5em;
  }

  .school2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .school2-img {
    width: 55%;
    border: 2px dimgray solid;
    border-radius: 1%;
    padding: 2em;
    margin: 2em 0;
  }

  .chap2-text3 {
    padding: 1.3em;
    width: 50%;
  }

  .chap2-part3 {
    grid-gap: 50px;
    padding-bottom: 4em;
    height: 40vh;
    margin-bottom: 24em;
  }

  .bus {
    width: 78%;
    padding: 1.6em;
  }

  .chap2-text4 {
    padding: 1.2em;
    width: 78%;
  }

  /* Credits*/
  .credit-dad {
    height: 35vh;
    margin: auto 4em 4em;
  }

  .credit-dad h2 {
    margin: auto 2.5em;
    padding: 1.5em;
    font-size: 1em;
  }

  .kam-contribution {
    margin-bottom: 6em;
  }

  .my-contrib-links.is-visible {
    margin-top: 1.5em;
  }

  /* History */
  .history-title-1 {
    font-size: 2em;
    padding: 0.8em 0.5em;
    margin: 0.5em 0;
  }

  .history-link-p {
    padding: 1em 0;
  }

  /* call to action */

  .action-text {
    padding: 2.5em 0 0;
  }

  .action-text h4 {
    font-size: 1.5em;
    padding: 0.5em 0 0;
  }

  .action-text p {
    padding: 0.3em 0 0.5em;
    font-size: 1em;
  }

  .action-links p {
    font-size: 0.8em;
  }


  /* .persepolis-movie {
    padding: 1.3em 0 0 1.2em;
    width: 50%;
  } */

  .last-action {
    margin-bottom: 4em;
  }

  .action-headline-links {
    font-size: 1em;
    margin: 1.3em 1.3em 0em;
  }

  .action-headline-links-p {
    margin: 0 1.3em 0.3em;
  }
}



/* Phone view */
@media screen and (max-width: 600px) {
  main {
    padding: 0 1em;
  }

  p {
    font-size: 0.7em;
  }

  /* Navbar */
  .menu-open-button {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.2em;
    margin: 0.1em;
  }

  .lines {
    width: 0.44em;
    height: 0.8px;
  }

  .line-1 {transform: translateY(-0.20em);}

  .line-3 {transform: translateY(0.20em);}

  /* Sidenav */
  .story, .history, .credits, .feedback { font-size: 1.1em;}

  /* Close button */
  .closebtn {
    top: 0.35em;
    left: 0.35em;
    font-size: 0.6em;
  }

  .container-btn {
    width: 1.6em;
    height: 1.6em;
  }

  .container-btn:before {
    border: 0.7em solid grey;
  }

  .close_circle {
    width: 1.6em;
    height: 1.6em;
    border: 0.08em solid white;
  }

  .close_circle:after { font-size: 0.85em;}

  .container-btn:hover .close_circle { font-size: 0.8em;}

  .container-btn:active .close_circle { font-size: 0.2em;}

  .title {
    height: 43vh;
    margin-bottom: 4em;
  }

  .subtitle {
    height: 30vh;
    margin-bottom: 6em;
  }

  .title h1 {font-size: 1.3em;}
  .subtitle h1 { font-size: 1.3em;}

  .typewriter {
    border-right: .13em solid orange;
    letter-spacing: .15em;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 80%;
    }
  }

  .scroll-mention {top: 45%;}

  .first-chapter-title {
    height: 35vh;
    padding-top: 3em;
  }

  .first-chapter-title h2 {
    font-size: 1em;
  }

  .first-chapter-title p {
    font-size: 0.8em;
    line-height: 1;
  }

  .first-chapter {
    padding: 0.5em 1.5em;
    grid-gap: 20px;
  }

  .text-1 {
    padding: 1em 1em;
  }

  .portrait-hassan-1 {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 20%;
  }

  .portrait-1 {
    width: 60%;
    height: 500%;
    padding: 0 1em;
  }

  .soccer2 {
    margin: 2em 0 0;
    padding: 1em;
  }

  .firstchap-p2 {
    padding: 0 1em;
    grid-gap: 0;
    grid-auto-columns: minmax(10px, auto);
    height: 60vh;
  }

  .soccer-3-back {
    grid-column: 2/4;
    grid-row: 1/2;
    height: 160%;
  }

  .soccer-3 {
    width: 65%;
    padding-left: 5.5em;
    height: 110%;
  }

  .soccer-4 {
    width: 70%;
    padding-top: 7em;
  }

  .soccer-5-bubbles {
    height: 30vh;
    margin: 1em;
  }


  .speach-bubbles-div {
    margin: 4em 0;
  }

  .next-chapter a {font-size:0.9em;}

  .chap2 {
    height: 35vh;
    padding-top: 4em;
  }

  .chap2-part1 {
    grid-gap: 20px;
    padding-bottom: 1em;
  }

  .chap2-text1 {
    padding: 1em;
    padding-bottom: 20px
  }

  .radio {
    width: 80%;
    padding: 1em;
  }

  .chap2-text2 {
    padding: 1em;
    width: 80%;
  }

  .chap2-part2 {
    grid-gap: 25px;
    padding-bottom: 1em;
    height: 50vh;
  }


  .chap2-part2 {
    display: grid;
    grid-auto-columns: minmax(50px, auto);
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
  }

  .school {
    grid-column: 2/5;
    grid-row: 1/2;
    width: 100%;
    margin-top: 2em;
  }

  .school-text-1 {
    padding: 1.2em;
    width: 70%;
  }

  .school2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .school2-img {
    width: 55%;
    padding: 2em;
    margin: 2em 0;
  }

  .chap2-text3 {
    padding: 1.3em;
    width: 50%;
  }

  .chap2-part3 {
    grid-gap: 20px;
    padding-bottom: 4em;
    height: 10vh;
    margin-bottom: 15em;
  }

  .bus {
    width: 45%;
    padding: 1.6em;
  }

  .chap2-text4 {
    padding: 1.2em;
    width: 58%;
  }

  /* Credits*/
  .credit-dad {
    height: 35vh;
    margin: auto 2em 2em;
  }

  .credit-dad h2 {
    margin: auto 1.5em;
    padding: 1em;
    font-size: 0.8em;
  }

  .kam-contribution {
    margin-bottom: 8em;
  }

  .my-contrib, .kam-contrib {
    font-size: 0.7em;
    padding: 0 0.4em;
  }

  .my-contrib-links.is-visible {
    margin-top: 1.5em;
  }

  /* History */
  .history-title-1 {
    font-size: 0.9em;
    padding: 0.5em 0.3em;
    margin: 0.3em 0;
  }

  .history-link-p {
    padding: 0.7em 0;
  }
  /* call to action */

    .action-text {
      padding: 2em 0 0;
    }

    .action-text h4 {
      font-size: 0.9em;
      padding: 0.3em 0 0;
    }

    .action-text p {
      padding: 0.1em 0 0.2em;
      font-size: 0.8em;
    }

    .action-links p {
      font-size: 0.5em;
    }

    .action-links-first {
      padding: 0.8em 0;
    }

    .action-links-middle {
      padding: 0.8em 0 0;
    }

/*
    .persepolis-movie {
      padding: 1.3em 0 0 1.2em;
      height: 50%;
    } */

    .last-action {
      margin-bottom: 3em;
    }

    .action-headline-links {
      font-size: 0.8em;
      margin: 1.3em 1.3em 0em;
    }

    .action-headline-links-p {
      margin: 0 1.3em 0.3em;
    }

}
